:root{
    --color: #333333;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
    min-height: 100vh;
    background-color: #FAFAFA;
    padding: 0 1rem;
}

fieldset, input{ border: none; }
input, textarea{ outline: none; }
input, label{ display: block; }

fieldset{ margin-bottom: 2.5rem; }
fieldset label{
    margin-bottom: .75rem;
    font-size: 14px;
    padding-left: .75rem;
}
input, textarea{
    border: none;
    font-size: 16px;
    width: 100%;
    background-color: #F3F3F3;
    color: #333333;
    padding: .45rem .70rem;
    border-radius: 5px;
}
textarea{
    height: 6rem;
}

.btn{
    display: block;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.btn-submit{
    position: relative;
    bottom: -75px;
    background-color: #333333;
    color: #fff;
}
.btn-add{
    display: inline-block;
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    transition: background-color .35s;
}
.btn-add:hover{
    background: #474747;
}

.card-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 64.72vh;
    padding: 3.5rem 3rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 1px gainsboro;
}

.login-form{
    left: 100%;
    transform: translate(-125%, -50%);
}
.register-form{
    height: 75vh;
    padding: 2.5rem 3rem;
}
.register-form fieldset{ margin-bottom: 1.75rem; }
.info-person{
    position: static;
    height: auto;
    margin: 1.5rem auto;
    transform: translate(0);
}

.error-list{
    width: 100%;
    list-style: none;
}
.error-item{
    color: indianred;
    text-align: center;
}

/***  Index styles  ***/
.index-title{
    line-height: 2;
    color: var(--color);
}

table, th, td{
    border: 1px solid var(--color);
    border-collapse: collapse;
}
.contacts-list{
    width: 98%;
    margin: auto;
    margin-top: 2rem;
}
.contacts-list-header th{
    background-color: var(--color);
    color: #fff;
    font-size: 14px;
}
.contacts-list-header th, .contact-item td{
    padding: 7px 15px;
}
.contact-item{
    color: var(--color);
    font-size: 14px;
}
.contact-item:nth-child(odd){
    background-color: #EDEDED;
}
.contact-item:nth-child(even){
    background-color: #fff;
}
.contact-item td{
    text-align: center;
}