{% extends 'layout.html' %}

{% block title %}Página principal{% endblock %}


{% block body %}

<h1 class="index-title">Bienvenido {{user}}</h1>

<a href="/new" class="btn btn-add">Añadir nuevo</a>

<table class="contacts-list">
    <tr class="contacts-list-header">
        <th>Nombre completo</th>
        <th>Correo electronico</th>
        <th>Teléfono</th>
        <th>Domicilio</th>
        <th></th>
    </tr>
    {% for contact in contacts %}
        <tr class="contact-item">
            <td>{{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.telefono}}</td>
            <td>{{contact.domicilio}}</td>
            <td><a href="">editar</a></td>
        </tr>
    {% endfor %}
    <!--<tr class="contact-item">
        <td>Harold</td>
        <td>example@gmail.com</td>
        <td>0000-0000</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere labore necessitatibus quis.</td>
        <td><a href="">editar</a></td>
    </tr>
    <tr class="contact-item">
        <td>Harold</td>
        <td>example@gmail.com</td>
        <td>0000-0000</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere labore necessitatibus quis.</td>
        <td><a href="">editar</a></td>
    </tr>
    <tr class="contact-item">
        <td>Harold</td>
        <td>example@gmail.com</td>
        <td>0000-0000</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere labore necessitatibus quis.</td>
        <td><a href="">editar</a></td>
    </tr>-->
</table>

{% endblock %}